In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
recon = pd.read_csv("download/processed/recon3M.csv")
labels = pd.read_csv("download/processed/labels3M.csv")
labels = labels[["pT","local_y"]]

In [3]:
recon.shape,labels.shape

((2688000, 273), (2688000, 2))

In [4]:
labels["pT"] = labels.apply(lambda x: 1.0 if x["pT"] >= 2.0 else 0.0, axis = 1)

In [5]:
major_idxs, minor_idxs = labels[labels["pT"] == 0.0].index, labels[labels["pT"] == 1.0].index
minor_idxs.shape, major_idxs.shape

((95738,), (2592262,))

In [6]:
signal_idxs = random.choices(minor_idxs, k=100000)
background_idxs = np.random.choice(major_idxs, size = 100000, replace = False)
len(signal_idxs), len(background_idxs)

(100000, 100000)

In [7]:
signal_labels = labels.loc[signal_idxs,:]
background_labels = labels.loc[background_idxs,:]
signal_recon = recon.loc[signal_idxs,:]
background_recon = recon.loc[background_idxs,:]

In [8]:
combined_recon = pd.concat([signal_recon, background_recon],axis = 0)
combined_recon.head()

,0,1,2,3,4,5,6,7,8,9,...,263,264,265,266,267,268,269,270,271,272
2112035,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
901171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1251908,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1862493,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1799882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
combined_labels = pd.concat([signal_labels, background_labels],axis = 0)
combined_labels.head()

          pT  local_y
2112035  1.0  4.80041
901171   1.0  1.22623
1251908  1.0  5.34156
1862493  1.0 -2.06609
1799882  1.0  1.41929

In [10]:
df1 = pd.concat([combined_recon,combined_labels],axis = 1)
df1.shape

(200000, 275)

In [11]:
df1.sort_index(ascending=True, inplace=True)

In [12]:
df1

,0,1,2,3,4,5,6,7,8,9,...,265,266,267,268,269,270,271,272,pT,local_y
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.879170
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.678840
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.678840
44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.919100
80,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.787240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2687915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.080130
2687950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.881730
2687971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.630770
2687984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.875590
2687993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.579198

In [13]:
df1.to_csv(path_or_buf="download/processed/resampled200K.csv", index= False)