In [1]:
import numpy as np
import pandas as pd
import os
import math

In [2]:
# take first 8 time slices
cols = list(range(0,13*8))

In [3]:
eosdir_pos = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-positive/'
eosdir_neg = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-negative/'

df = pd.DataFrame()

i=0
print('Processing + charge')
for f in os.listdir(eosdir_pos):

    if 'recon' in f:
        continue
    
    i = i + 1
    if i > 150:
        break
            
    label = pd.read_csv(eosdir_pos+f,usecols=['y-midplane'])
                        
    xdf = pd.read_csv(eosdir_pos+'recon2Dy_'+f.split('_')[1],usecols=cols)
    
    df = pd.concat([df,pd.concat([label,xdf],axis=1)])
    
i=0
print('Processing - charge')
for f in os.listdir(eosdir_neg):
    
    if 'recon' in f:
        continue
        
    i = i + 1
    if i > 150:
        break

    label = pd.read_csv(eosdir_neg+f,usecols=['y-midplane'])
                        
    xdf = pd.read_csv(eosdir_neg+'recon2Dy_'+f.split('_')[1],usecols=cols)
    
    df = pd.concat([df,pd.concat([label,xdf],axis=1)])

Processing + charge
Processing - charge

In [4]:
df.head()

,y-midplane,0,1,2,3,4,5,6,7,8,...,94,95,96,97,98,99,100,101,102,103
0,4.750171,0.0,0.0,0.0,0.0,0.0,444.8,7138.1,57.8,-10.2,...,31.0,13522.4,11154.8,12609.0,-323.0,0.0,0.0,0.0,0.0,0.0
1,14.159270,0.0,0.0,0.0,0.0,0.0,0.0,56.0,1314.3,-40.4,...,0.0,30.0,2121.0,2580.6,1633.6,-35.0,0.0,0.0,0.0,0.0
2,16.021390,0.0,0.0,0.0,0.0,0.0,0.0,159.7,867.3,66.0,...,0.0,0.0,1320.3,3424.6,1032.6,-10.4,0.0,0.0,0.0,0.0
3,3.020286,0.0,0.0,0.0,0.0,42.9,1801.0,3557.0,204.8,-52.6,...,0.0,1921.4,23446.4,2716.0,-7.2,0.0,0.0,0.0,0.0,0.0
4,0.116152,0.0,0.0,0.0,0.0,72.2,191.8,1319.1,-61.1,0.0,...,604.0,2584.8,2078.9,2016.8,-52.6,0.0,0.0,0.0,0.0,0.0

In [5]:
shuffled_df = df.sample(frac=1).reset_index(drop=True)
shuffled_df.head()

,y-midplane,0,1,2,3,4,5,6,7,8,...,94,95,96,97,98,99,100,101,102,103
0,15.860604,0.0,0.0,0.0,0.0,0.0,41.2,1383.4,2401.5,256.9,...,0.0,0.0,473.7,18315.7,1515.9,-9.6,0.0,0.0,0.0,0.0
1,0.879874,0.0,0.0,0.0,0.0,-57.9,5249.3,591.7,363.7,12.1,...,-16.1,1211.1,28822.6,-224.2,0.0,0.0,0.0,0.0,0.0,0.0
2,-12.359426,0.0,0.0,0.0,47.5,544.2,5277.3,-132.6,0.0,0.0,...,8733.6,11656.0,5304.2,-42.5,0.0,0.0,0.0,0.0,0.0,0.0
3,2.322980,0.0,0.0,0.0,0.0,23.9,-291.2,4010.2,-470.5,-50.7,...,390.0,2607.0,1509.3,5510.8,-15.4,0.0,0.0,0.0,0.0,0.0
4,-0.544416,0.0,0.0,0.0,0.0,623.3,232.3,6438.5,7001.5,-1801.5,...,4444.0,6618.6,3052.4,15005.8,9973.5,-7.9,0.0,0.0,0.0,0.0

In [6]:
split_n = math.floor(0.8*len(shuffled_df))

In [7]:
train_df = shuffled_df[:split_n]
test_df = shuffled_df[split_n:]

print(len(train_df),len(test_df))

3981115 995279

In [8]:
train_df.to_csv('train_2Dy.csv',index=False)
test_df.to_csv('test_2Dy.csv',index=False)