In [9]:
import numpy as np
import pandas as pd
import os
import math

In [6]:
eosdir_pos = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-positive/'
eosdir_neg = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-negative/'

df = pd.DataFrame()

print('Processing + charge')
for f in os.listdir(eosdir_pos):
    if 'recon' in f:
        continue
        
    thisdf = pd.read_csv(eosdir_pos+f,usecols=['x-midplane','y-midplane'])
    thatdf = pd.read_csv('../paper/unflipped-positive/recon0D_'+f.split('_')[1])
    
    thisdf['x-size'] = thatdf['x-size']
    thisdf['y-size'] = thatdf['y-size']
    
    df = pd.concat([df,thisdf])
    
print('Processing - charge')
for f in os.listdir(eosdir_neg):
    if 'recon' in f:
        continue
        
    thisdf = pd.read_csv(eosdir_neg+f,usecols=['x-midplane','y-midplane'])
    thatdf = pd.read_csv('../paper/unflipped-negative/recon0D_'+f.split('_')[1])
    
    thisdf['x-size'] = thatdf['x-size']
    thisdf['y-size'] = thatdf['y-size']
    
    df = pd.concat([df,thisdf])

Processing + charge
Processing - charge

In [7]:
shuffled_df = df.sample(frac=1).reset_index(drop=True)
shuffled_df.head()

   y-midplane  x-midplane  x-size  y-size
0  -15.691648   20.151831       2       6
1  -11.671032  -60.701503       3       6
2  -13.947429   38.655259       8       4
3   13.096620  -10.844652       4       4
4   -0.424505    7.066617       3       6

In [10]:
split_n = math.floor(0.8*len(shuffled_df))

In [11]:
train_df = shuffled_df[:split_n]
test_df = shuffled_df[split_n:]

print(len(train_df),len(test_df))

13722961 3430741

In [14]:
train_df.to_csv('train_0D.csv',index=False)
test_df.to_csv('test_0D.csv',index=False)